/* GENERAL */
html,
body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: "Press Start 2P", system-ui;
}

nav {
    background: #222;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo a:hover {
    text-decoration: none;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.logo a,
.toggle a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #ffffff solid;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

/* Navbar Toggle */
.toggle {
    cursor: pointer;
}

.bars {
    background: #ffffff;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.bars:before,
.bars:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.bars:before {
    top: 5px;
}

.bars:after {
    top: -5px;
}

/* Tablet menu */
@media all and (min-width: 800px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button.secondary {
        border: 0;
    }

    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
        border-radius: 50em;
    }

    .button.secondary a {
        background: transparent;
    }

    .button a:hover {
        text-decoration: none;
        transition: all .25s;
    }

    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }

    .button.secondary a:hover {
        color: #ddd;
    }
}

/* Desktop menu */
@media all and (min-width: 1400px) {
    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0;
    }
}

/* Bienvenida Animada */

h3 {
    margin-bottom: 5px;
    margin-top: 0px;
}

.line-1 {
    margin: 0 auto;
    border-right: 4px solid rgba(0, 0, 0, 0.65);
    font-size: 114%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 180px;

}

@media (width < 900px) {
    .line-1{
        margin: 0 auto;
        border-right: 4px solid rgba(0, 0, 0, 0.65);
        font-size: 90%;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 180px;
    }
}

@media (width < 700px) {
    .line-1{
        margin: 0 auto;
        border-right: 4px solid rgba(0, 0, 0, 0.65);
        font-size: 70%;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 30px;
    }
}


/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 900ms steps(24) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 38em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

.texto {
    line-height: 30px;
}


.texto2{
    line-height: 50px;
}

@media (width < 900px) {
    .texto{
        line-height: 20px;
        font-size: 13px;
    }
}

@media (width < 700px) {
    .texto{
        line-height: 15px;
        font-size: 10px;

    }
}

.imagen {
    padding-top: 100px;
    width: 300px;
    /* padding-right: 100px; */
    /* border-radius: 50%; */
    /* border: #000 solid; */
}

@media (width < 1300px) {
    .imagen{
        padding-left: 200px;
        padding-top: 0px;
        width: 300px;
    }
}

@media (width < 900px) {
    .imagen{
        padding-left: 110px;
        padding-top: 0px;
        width: 280px;
    }
}

@media (width < 700px) {
    .imagen{
        padding-left: 120px;
        padding-top: 0px;
        width: 200px;
    }
}

/* Imagen formacion */
@media (width < 1300px) {
    .imagen2{
        padding-top: 100px;
        width: 200px;
    }
}

@media (width < 900px) {
    .imagen2{
        padding-top: 0px;
        padding-left: 150px;
        width: 200px;
    }
}

/* BOTON */

.button2 {
    font-family: "Press Start 2P", system-ui;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 40px;

}

@media (width < 900px) {
    .button2{
        font-size: 12px;
    }
}

@media (width < 700px) {
    .button2{
        font-size: 10px;
    }
}


.button2:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

/* CERTIFICACIONES */

#imagen3_1{
    width: 250px;
}
.imagen3_2{
    width: 130px;
}
.imagen3_3{
    width: 150px;
}
.imagen3_4{
    width: 130px;
}
.imagen3_5{
    width: 130px;
}
.imagen3_6{
    width: 230px;
}

@media (width < 1300px) {
    .imagen3_1{
        display: none !important;
    }
    .imagen3_2{
        display: none !important;
    }
    .imagen3_3{
        display: none !important;
    }
    .imagen3_4{
        display: none !important;
    }
    .imagen3_5{
        display: none !important;
    }
    .imagen3_6{
        display: none !important;
    }
}

/* Proyectos */

@media (width < 1300px) {
    .containerr {
        display: none !important;
    }
}



.containerr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}


.containerr .box {
    position: relative;
    width: 300px;
    height: 400px;
    color: white;
    background-color: #111;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
    border-radius: 15px;
}

.containerr .box:hover {
    transform: translateY(-20px);
}

.containerr .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #000000, #ffffff);
    border-radius: 15px;
}

.containerr .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(25deg, #000000, #ffffff);
    filter: blur(30px);
}

.containerr .box:nth-child(1)::before,
.containerr .box:nth-child(1)::after
{
    background: linear-gradient(315deg, #000000, #f7f421);
}

.containerr .box:nth-child(2)::before,
.containerr .box:nth-child(2)::after
{
    background: linear-gradient(315deg, #000000, #2693ff);
}

.containerr .box:nth-child(3)::before,
.containerr .box:nth-child(3)::after
{
    background: linear-gradient(315deg, #000000, #22ff52);
}




.containerr .box span::before
{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    border-radius: 15px;
}

.containerr .box #content
{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

.containerr .box #content h2
{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.containerr .box #content p
{
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.containerr .box #content a
{
    display: inline-block;
    font-size: 1.1em;
    color: white;
    background: none;
    padding: 10px;
    border: #fff 2px solid;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    transition: 0.5s;
    border-radius: 15px;
}

.containerr .box #content a:hover
{
    background-color: white;
    color: black;
}



/* INICIO */

.container {
    /* background: lightsalmon; */
    /* border: 3px solid rgb(255, 255, 255); */
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 295px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    padding: 40px;
    grid-template-areas:
    "presentacion presentacion presentacion img"
    "presentacion presentacion presentacion img"
    "softskills softskills hardskills hardskills"
    "softskills softskills hardskills hardskills"
    "imagenformacion formacion formacion formacion"
    "imagenformacion formacion formacion formacion"
    "certificaciones certificaciones certificaciones certificaciones"
    "certificaciones certificaciones certificaciones certificaciones"
    "experiencia experiencia experiencia experiencia"
    "experiencia experiencia experiencia experiencia"
    "proyectos proyectos proyectos proyectos"
    "proyectos proyectos proyectos proyectos"
    "contacto contacto contacto contacto"
    "footer footer footer footer"

    ;
}

@media (width < 1300px){
    .container{
        /* border: 3px solid rgb(255, 255, 255); */
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 295px;
        max-width: 800px;
        margin: 0 auto;
        gap: 20px;
        padding: 40px;
        grid-template-areas: 
        "presentacion presentacion presentacion"
        "presentacion presentacion presentacion"
        "img img img"
        "softskills softskills softskills"
        "softskills softskills softskills"
        "hardskills hardskills hardskills"
        "hardskills hardskills hardskills"
        "imagenformacion formacion formacion"
        "imagenformacion formacion formacion"
        "certificaciones certificaciones certificaciones"
        "certificaciones certificaciones certificaciones"
        "experiencia experiencia experiencia"
        "experiencia experiencia experiencia"
        "proyectos . ."
        ". . ."
        "contacto contacto contacto"
        "footer footer footer"


    ;
    }
}


@media (width < 900px){
    .container{
        /* border: 3px solid rgb(255, 255, 255); */
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 295px;
        max-width: 600px;
        width: 80%;
        margin: 0 auto;
        gap: 20px;
        padding: 40px;
        grid-template-areas: 
        "presentacion presentacion"
        "presentacion presentacion"
        "img img"
        "softskills softskills"
        "hardskills hardskills"
        "imagenformacion imagenformacion"
        "formacion formacion"
        "certificaciones certificaciones"
        "experiencia experiencia"
        "proyectos ."
        "contacto contacto"
        "footer footer"

    ;
    }
}

@media (width < 700px){
    .container{
        /* border: 3px solid rgb(255, 255, 255); */
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 295px;
        max-width: 600px;
        width: 80%;
        margin: 0 auto;
        gap: 20px;
        padding: 40px;
        grid-template-areas: 
        "presentacion"
        "img"
        "softskills"
        "hardskills"
        "imagenformacion"
        "formacion"
        "certificaciones"
        "experiencia"
        "proyectos"
        "contacto"
        "footer"

    ;
    }
}


/* -------------------------------------------------------------------- */
.container .presentacion {
    grid-area: presentacion;
    /* background: #000000; */
    
    /* border-radius: 25px; */

    padding: 40px;

}

.presentacion p{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container .img {
    grid-area: img;

    /* background: #000000; */
    
    /* border-radius: 25px; */

    padding: 40px;
}

.imagen1{
    width: 300px;
}

.img h1, p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .hardskills {
    grid-area: hardskills;
    /* background: #000000; */
    
    /* border-radius: 25px; */

    padding: 40px;
}

.container .softskills {
    grid-area: softskills;
    /* background: #000000; */
    
    /* border-radius: 25px; */

    padding: 40px;
}

.container .imagenformacion {
    grid-area: imagenformacion;
    /* background: #000000; */
    
    /* border-radius: 25px; */

    padding: 40px;
}

.container .formacion {
    grid-area: formacion;
    /* background: #000000; */
    
    /* border-radius: 25px; */

    padding: 40px;
}

.container .certificaciones {
    grid-area: certificaciones;
    /* background: lightblue; */
    
    /* border-radius: 25px; */

    padding: 40px;
}

.container .experiencia {
    grid-area: experiencia;
    /* background: #000000; */
    
    /* border-radius: 25px; */

    padding: 40px;
}

.container .proyectos {
    grid-area: proyectos;
    /* background: #000000; */
    
    /* border-radius: 25px; */

    padding: 40px;
}

.container .contacto{
    grid-area: contacto;
    
}

.container .footer{
    grid-area: footer;
    
}

/* -------------------------------------------------------------------- */

/* FORMULARIO =================================== */

@media (width < 1300px) {
    #form_wrap {
        display: none !important;
    }
}

:focus {
    outline: none;

}

#form_wrap {
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #000000;
    opacity: 0.9;
}

.cantact_info {
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items {
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title {
    margin-bottom: 60px;
}

.info_title span {
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2 {
    font-size: 33.5px;
    text-align: center;
}

.info_items p {
    display: flex;
    align-items: center;

    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span {
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span {
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact {
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2 {
    font-size: 23px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 30px;
}

form.form_contact .user_info {
    display: flex;
    flex-direction: column;
}

form.form_contact label {
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea {
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #000000;

    font-family: "Press Start 2P", system-ui;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}

form.form_contact textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="button"] {
    width: 180px;
    background: #000000;
    padding-right: 250px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 25px;

    align-self: flex-end;

    color: #fff;
    font-family: "Press Start 2P", system-ui;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

form.form_contact input[type="button"]:hover {
    background: #006d6d;
}

/* Ventana de errores*/
.modal_wrap {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal {
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3 {
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 400;
}

.mensaje_modal h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #C5C5C5;
    margin: 10px 0px 15px;
}

.mensaje_modal p {
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before {
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose {
    display: inline-block;
    padding: 3px 10px;
    margin-top: 10px;

    background: #E25151;
    color: #fff;
    border: 2px solid #B14141;
    cursor: pointer;

    /* float: right; */
}

/* FOOTER */
footer {
    width: 100%;
    padding: 10px 0px;
    background-color: #000;
    background-size: cover;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: #ffffff;
    font-weight: 600;
}



.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #faf6f6;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #f1ebeb;
}


